*{
	margin: 0px;
	padding-left: 0px
	
}
footer, header, article, section, main, nav, aside {
	display:block;
	}
header{
	height:160px;
	background:#ffffff;
}
#logo {
	width:270px;
	display:block;
	font-family:"Arial Black";
	padding:50px;
	font-size:25px;
	background: url(../images/logo.png) no-repeat left center;
}
.container {
  height:585px;
  width:100%;	
  background: linear-gradient(
    to right, 
    #ee5f5b 0%, 
    #ee5f5b 50%, 
    #5bc0de 50%, 
    #5bc0de 100%
  );
  z-index: 1;
}


main{
	height:auto;
}
footer{
	height: 84px;
	width: 100%;
	background-color: #eeeeee;
}

.logo_name {
    position: relative;
    padding-left: 220px;
    text-decoration: none;
	

}



